::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #fffdfd, #fff0ea);
  border-radius: 10px;
  border: 2px solid #2e2e2e;
}

::-webkit-scrollbar-thumb:hover {
  background: #b1b3d8;
}
